.App {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.home-header {
}

h1 {
    text-transform: none;
}

h1, h2 {
    color: #c97171;
}

a {
    color: #c97171;
    text-decoration: none;
}

.container {
    width:560px;
    margin: auto;
    padding: 10px 15px;
}

p {
    text-align: justify;
}

ul {
    text-align: left;
}

/*.App-header {*/
    /*background-color: #282c34;*/
    /*min-height: 100vh;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*font-size: calc(10px + 2vmin);*/
    /*color: white;*/
/*}*/

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
